.NavbarItems {
	background: var(--navBG);
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;

	.navbar-logo {
		color: var(--navLogoColor);
		justify-self: start;
		margin-left: 20px;
		cursor: pointer;

		.fa-react {
			margin-left: 0.5rem;
			font-size: 1.6rem;
		}
	}

	.nav-menu {
		display: grid;
		grid-template-columns: repeat(5, auto);
		grid-gap: 10px;
		list-style: none;
		text-align: center;
		width: 70vw;
		justify-content: end;
		margin-right: 2rem;
	}

	.nav-links {
		color: var(--navLinksColor);
		text-decoration: none;
		padding: 0.5rem 1rem;
		display: flex;
		align-items: center;
		height: 80px;

		.fa-caret-down {
			margin-left: 0.5rem;
			font-size: 1.6rem;
		}
	}

	.nav-links:hover {
		background-color: var(--navLinksHoverBG);
		border-radius: 4px;
		transition: all 0.2s ease-out;
	}

	.nav-links-mobile {
		display: none;
	}

	.menu-icon {
		display: none;

		.fa-times {
			color: var(--faTimes);
			font-size: 2rem;
		}

		.fa-bars {
			color: var(--faBars);
			font-size: 2rem;
		}
	}

	@media screen and (max-width: 960px) {
		.NavbarItems {
			position: relative;
		}

		.nav-menu {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 500px;
			position: absolute;
			top: 80px;
			left: -100%;
			opacity: 1;
			transition: all 0.5s ease;
		}

		.nav-menu.active {
			background: var(--navMenuAct);
			left: 0;
			opacity: 1;
			transition: all 0.5s ease;
			z-index: 1;
		}

		.nav-links {
			text-align: center;
			padding: 2rem;
			width: 100%;
			display: table;
		}
		.nav-links:hover {
			background-color: var(--navLinksHover);
			border-radius: 0;
		}

		.navbar-logo {
			position: absolute;
			top: 0;
			left: 0;
			transform: translate(25%, 50%);
		}

		.menu-icon {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			transform: translate(-100%, 60%);
			font-size: 1.8rem;
			cursor: pointer;
		}

		.nav-links-mobile {
			display: block;
			text-align: center;
			padding: 1.5rem;
			margin: auto;
			border-radius: 4px;
			width: 80%;
			background: var(--navLinksMobileBG);
			text-decoration: none;
			color: var(--navLinksMobileColor);
			font-size: 1.5rem;
		}

		.nav-links-mobile:hover {
			background-color: var(--navLinksMobileHoverBG);
			color: var(--navLinksMobileHoverColor);
			transition: 250ms;
		}

		.btn {
			display: none;
		}
	}
}

/* FONT AWESOME */

/* FONT AWESOME */
